# Ignore all zip files in downloads folder
downloads/*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
